
.DS_Store
Thumbs.db
.desktop

venv/
env/
.venv/
__pycache__/
*.pyc



node_modules/
npm-debug.log


build/
*.jar
*.war


bin/
obj/


logs/
*.log
tmp/
temp/


.env
.env.local



.idea/
.vscode/
*.swp
*.swo